<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Need to Un comment--> 
		<!--<add key="ApiBaseUrl" value="https://receptiondesk.mtr.care/"/>-->
		<add key="ApiBaseUrl" value="http://localhost:50796/" />
		<!--'http://localhost:50796/api/EmployeeLogin/EmployeeLogin-->
		<!--<add key="GoogleMapsApiKey" value="AIzaSyAUPq4vi7ncgkhf6IeR6cBUoFjpU2apMNw" />-->
		<!--AIzaSyBvrPOgvpIgpzvKUHRBJTZ3FTPqoELfoiA-->
	</appSettings>
</configuration>
